<h2> All Directors </h2>

<%@directors.each do |director| %>
Name: <%= link_to director.name, director_path(director) %> <br>
Age: <%= director.age %> <br>
Gender: <%= director.gender %> <br>
Picture: <%= director.picture_url %> <br>


<%end  %>
