<div class="body-main-wrapper">
  <div class="upper-wrapper">
    <div class="list">
      <% count = 1 %>
    <%@animes.each do |anime| %>
    <a href="<%= anime_path(anime) %>"><div class="user-anime-wrapper">

      <div class="count"><%= count %>
        <% count += 1 %></div>
      <div>
        <% if !anime.image.blank? %>
      <img src="<%= anime.image.split('"')[1] %>"> </img>
      <% else %>
      <img src="/assets/no_img.png"></img>
      <% end %>
        </div>
        <div class="title">
        <%= anime.title%>
        </div>
        </div>
        </a>
    <% end  %>
    </div>
  </div>
</div>
